<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
        <div class="d-flex flex-column">
          <img class="img-fluid rounded w-75 align-self-end" src="assets/img/about-1.jpg" alt="">
          <img class="img-fluid rounded w-50 bg-white pt-3 pe-3" src="assets/img/about-2.jpg" alt="" style="margin-top: -25%;">
        </div>
      </div>
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">

        <h1 class="mb-4" style="color:green">Successfully Registered !</h1>

        <p><i class="far fa-check-circle text-primary me-3"></i>Identifier Number : {{id}}</p>
        <p><i class="far fa-check-circle text-primary me-3"></i>Your reference is : {{reference}}</p>
        <p>We'll be messaging you soon the date and the place of the vaccination !</p>
        <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="">login</a>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

